<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fjoglar.etsitnews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".EtsitNewsApp">
        <activity android:name=".view.activities.NewsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.NewsDetailsActivity"
            android:parentActivityName=".view.activities.NewsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.NewsListActivity" />
        </activity>
        <provider
            android:name=".repository.datasource.database.NewsProvider"
            android:authorities="com.fjoglar.etsitnews"
            android:exported="false" />
    </application>

</manifest>
